/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.example
.env.*
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/Sablony/img/homepage/slideshow_1.jpg
/Sablony/img/homepage/slideshow_2.jpg
/Sablony/img/homepage/slideshow_3.jpg
/Sablony/img/homepage/slideshow_4.jpg
/Sablony/img/homepage/slideshow_5.jpg
